In [2]:
import numpy as np
import pandas as pd

Series from list

In [4]:
# string

country = ['Bd', 'India', 'Nepal', 'Finland']
pd.Series(country)

0         Bd
1      India
2      Nepal
3    Finland
dtype: object

In [6]:
# integers

runs = [90, 23, 54, 11, 48, 87]
pd.Series(runs)

0    90
1    23
2    54
3    11
4    48
5    87
dtype: int64